@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

/* luxtable paketindeki Tailwind class'larını tara */
@source "../../../packages/luxtable/src/**/*.{ts,tsx}";
@source "../components/**/*.{ts,tsx}";
